In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
url = '/content/Purchased_data_new.csv'
data = pd.read_csv(url)
data

    S. No.  Country   Age   Salary Purchased  Gender
0        0   France  44.0  72000.0        No    Male
1        1    Spain  27.0  48000.0       Yes  Female
2        2  Germany  30.0  54000.0        No    Male
3        3    Spain  38.0  61000.0        No    Male
4        4  Germany  40.0      NaN       Yes  Female
..     ...      ...   ...      ...       ...     ...
95      95    Italy  22.0      NaN        No    Male
96      96   France  34.0  55000.0        No    Male
97      97    Spain  48.0  89000.0       Yes  Female
98      98  Germany  51.0  95000.0       Yes  Female
99      99    Italy  28.0  61000.0       Yes  Female

[100 rows x 6 columns]

In [ ]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 3].values
print("X = ", X, '\n')
print("y = ", y, '\n')

X =  [[0 'France' 44.0 72000.0 'No']
 [1 'Spain' 27.0 48000.0 'Yes']
 [2 'Germany' 30.0 54000.0 'No']
 [3 'Spain' 38.0 61000.0 'No']
 [4 'Germany' 40.0 nan 'Yes']
 [5 'France' 35.0 58000.0 'Yes']
 [6 'Spain' nan 52000.0 'No']
 [7 'France' 48.0 79000.0 'Yes']
 [8 'Germany' 50.0 83000.0 'No']
 [9 'France' 37.0 67000.0 'Yes']
 [10 'Italy' 25.0 50000.0 'No']
 [11 'Spain' 32.0 60000.0 'Yes']
 [12 'Germany' 45.0 72000.0 'Yes']
 [13 'Italy' 22.0 nan 'No']
 [14 'France' 34.0 55000.0 'No']
 [15 'Spain' 48.0 89000.0 'Yes']
 [16 'Germany' 51.0 95000.0 'Yes']
 [17 'Italy' 28.0 61000.0 'Yes']
 [18 'France' 41.0 68000.0 'No']
 [19 'Spain' 36.0 59000.0 'Yes']
 [20 'Germany' 47.0 77000.0 'No']
 [21 'Italy' 29.0 54000.0 'No']
 [22 'France' 33.0 63000.0 'No']
 [23 'Spain' 43.0 75000.0 'No']
 [24 'Italy' 31.0 60000.0 'Yes']
 [25 'Germany' 56.0 90000.0 'Yes']
 [26 'Italy' 26.0 52000.0 'No']
 [27 'France' 39.0 82000.0 'Yes']
 [28 'Spain' 34.0 70000.0 'No']
 [29 'India' 30.0 60000.0 'Yes']
 [30 'Bangladesh' 35.0 58000.0 'No']
 [31 'USA' 42.0 75000.0 'Yes']
 [32 'China' 28.0 54000.0 'No']
 [33 'Japan' 31.0 61000.0 'No']
 [34 'Australia' 29.0 62000.0 'No']
 [35 'India' 36.0 67000.0 'Yes']
 [36 'Bangladesh' 41.0 72000.0 'Yes']
 [37 'USA' 45.0 80000.0 'Yes']
 [38 'China' 33.0 59000.0 'No']
 [39 'Japan' 50.0 88000.0 'Yes']
 [40 'Australia' 28.0 55000.0 'No']
 [41 'France' 44.0 72000.0 'No']
 [42 'Spain' 27.0 48000.0 'Yes']
 [43 'Germany' 30.0 54000.0 'No']
 [44 'Spain' 38.0 61000.0 'No']
 [45 'Germany' 40.0 nan 'Yes']
 [46 'France' 35.0 58000.0 'Yes']
 [47 'Spain' nan 52000.0 'No']
 [48 'France' 48.0 79000.0 'Yes']
 [49 'Germany' 50.0 83000.0 'No']
 [50 'France' 37.0 67000.0 'Yes']
 [51 'Italy' 25.0 50000.0 'No']
 [52 'Spain' 32.0 60000.0 'Yes']
 [53 'Germany' 45.0 72000.0 'Yes']
 [54 'Italy' 22.0 nan 'No']
 [55 'France' 34.0 55000.0 'No']
 [56 'Spain' 48.0 89000.0 'Yes']
 [57 'Germany' 51.0 95000.0 'Yes']
 [58 'Italy' 28.0 61000.0 'Yes']
 [59 'France' 41.0 68000.0 'No']
 [60 'Spain' 36.0 59000.0 'Yes']
 [61 'Germany' 47.0 77000.0 'No']
 [62 'Italy' 29.0 54000.0 'No']
 [63 'France' 33.0 63000.0 'No']
 [64 'Spain' 43.0 75000.0 'No']
 [65 'Italy' 31.0 60000.0 'Yes']
 [66 'Germany' 56.0 90000.0 'Yes']
 [67 'Italy' 26.0 52000.0 'No']
 [68 'France' 39.0 82000.0 'Yes']
 [69 'Spain' 34.0 70000.0 'No']
 [70 'India' 30.0 60000.0 'Yes']
 [71 'Bangladesh' 35.0 58000.0 'No']
 [72 'USA' 42.0 75000.0 'Yes']
 [73 'China' 28.0 54000.0 'No']
 [74 'Japan' 31.0 61000.0 'No']
 [75 'Australia' 29.0 62000.0 'No']
 [76 'India' 36.0 67000.0 'Yes']
 [77 'Bangladesh' 41.0 72000.0 'Yes']
 [78 'USA' 45.0 80000.0 'Yes']
 [79 'China' 33.0 59000.0 'No']
 [80 'Japan' 50.0 88000.0 'Yes']
 [81 'Australia' 28.0 55000.0 'No']
 [82 'France' 44.0 72000.0 'No']
 [83 'Spain' 27.0 48000.0 'Yes']
 [84 'Germany' 30.0 54000.0 'No']
 [85 'Spain' 38.0 61000.0 'No']
 [86 'Germany' 40.0 nan 'Yes']
 [87 'France' 35.0 58000.0 'Yes']
 [88 'Spain' nan 52000.0 'No']
 [89 'France' 48.0 79000.0 'Yes']
 [90 'Germany' 50.0 83000.0 'No']
 [91 'France' 37.0 67000.0 'Yes']
 [92 'Italy' 25.0 50000.0 'No']
 [93 'Spain' 32.0 60000.0 'Yes']
 [94 'Germany' 45.0 72000.0 'Yes']
 [95 'Italy' 22.0 nan 'No']
 [96 'France' 34.0 55000.0 'No']
 [97 'Spain' 48.0 89000.0 'Yes']
 [98 'Germany' 51.0 95000.0 'Yes']
 [99 'Italy' 28.0 61000.0 'Yes']]

y =  [72000. 48000. 54000. 61000.    nan 58000. 52000. 79000. 83000. 67000.
 50000. 60000. 72000.    nan 55000. 89000. 95000. 61000. 68000. 59000.
 77000. 54000. 63000. 75000. 60000. 90000. 52000. 82000. 70000. 60000.
 58000. 75000. 54000. 61000. 62000. 67000. 72000. 80000. 59000. 88000.
 55000. 72000. 48000. 54000. 61000.    nan 58000. 52000. 79000. 83000.
 67000. 50000. 60000. 72000.    nan 55000. 89000. 95000. 61000. 68000.
 59000. 77000. 54000. 63000. 75000. 60000. 90000. 52000. 82000. 70000.
 60000. 58000. 75000. 54000. 61000. 62000. 67000. 72000. 80000. 59000.
 88000. 55000. 72000. 48000. 54000. 61000.    nan 58000. 52000. 79000.
 83000. 67000. 50000. 60000. 72000.    nan 55000. 89000. 95000. 61000.]

.values at the end converts the selected DataFrame subset into a NumPy array.
all /
X = data.iloc[:, :-1] stores all rows except last column (-1 indexing)
/y = data.iloc[:, 3] stores all rows till 4th column (as python follows 0 indexing)

In [ ]:
#getdummies is used to perform one hot encoding
df_encoded = pd.get_dummies(data, columns=['Country','Purchased','Gender'])

In [ ]:
df_encoded

,S. No.,Age,Salary,Country_Australia,Country_Bangladesh,Country_China,Country_France,Country_Germany,Country_India,Country_Italy,Country_Japan,Country_Spain,Country_USA,Purchased_No,Purchased_Yes,Gender_Female,Gender_Male
0,0,44.0,72000.0,0,0,0,1,0,0,0,0,0,0,1,0,0,1
1,1,27.0,48000.0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
2,2,30.0,54000.0,0,0,0,0,1,0,0,0,0,0,1,0,0,1
3,3,38.0,61000.0,0,0,0,0,0,0,0,0,1,0,1,0,0,1
4,4,40.0,NaN,0,0,0,0,1,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,22.0,NaN,0,0,0,0,0,0,1,0,0,0,1,0,0,1
96,96,34.0,55000.0,0,0,0,1,0,0,0,0,0,0,1,0,0,1
97,97,48.0,89000.0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
98,98,51.0,95000.0,0,0,0,0,1,0,0,0,0,0,0,1,1,0
99,99,28.0,61000.0,0,0,0,0,0,0,1,0,0,0,0,1,1,0

In [ ]:
# Perform label encoding for the "Country" and "Purchased" columns
# You can use the factorize method to automatically encode categorical values
data["Country"] = pd.factorize(data["Country"])[0]
data["Purchased"] = pd.factorize(data["Purchased"])[0]
data["Gender"] = pd.factorize(data["Gender"])[0]
# Printing the DataFrame with label-encoded columns
print(data)

    S. No.  Country   Age   Salary  Purchased  Gender
0        0        0  44.0  72000.0          0       0
1        1        1  27.0  48000.0          1       1
2        2        2  30.0  54000.0          0       0
3        3        1  38.0  61000.0          0       0
4        4        2  40.0      NaN          1       1
..     ...      ...   ...      ...        ...     ...
95      95        3  22.0      NaN          0       0
96      96        0  34.0  55000.0          0       0
97      97        1  48.0  89000.0          1       1
98      98        2  51.0  95000.0          1       1
99      99        3  28.0  61000.0          1       1

[100 rows x 6 columns]